<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>Wishlist</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  
</head>

<body>


<div class="container">
 <h2><Center> Search for a New Book </Center></h2>
	<% include ../partials/search.ejs %>
<h2> <CENTER> Your Wishlist</CENTER></h2>

 <form method="post" action="/delete">
 	<input type="hidden" name="hideDelete" id="hideDelete" value="">
<table id="wishlist">
	<tr>

		<th></th>
		<th>TITLE</th>
		<th>AUTHOR</th>
		<th>RATE</th>
		<th>REMOVE</th> 
	</tr>
	<% results.forEach(function(r) { %>
	<tr>
		<td> <img src=" <%= r.pic %>"></td>
		<td><%= r.title %></td>
		<td><%= r.author %></td>
		<td><%= r. rate %></td>
		<td> <button type="submit" name="remove" value="<%=r.bookid%>"> remove</button></td>
	</tr>
	 <% }); %>


</table>

</form>


    
        
   

</div>

</body>
</html>
